body{
    font-family: sans-serif;
}

#title {
    background-color: #e8505b;
    color: #ffff;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
}

.container-fluid {
    padding: 3% 15%;
}

.navbar-brand {
    font-size: 4rem;
    font-family: sans-serif;
    font-weight: bold;
    
}

.navbar{
    padding-bottom: 0 0 4.5rem;
}

.nav-item{
    padding: 0 15px;
}

.nav-link{
    font-size: 1.2rem;
}

.alan{
    border-radius: 100%;
    width: 60%;
}

#members{
 font-family: sans-serif;
 text-align: center;
 font-size: 1.2rem;
}

#kootam{
    background-color: #e8505b;
    color: #ffff;
    text-align: center;
}

.senthil{
    border-radius: 100%;
    width: 15%;
}

.jana{
    border-radius: 100%;
    width: 15%;
}

.karthik{
    border-radius: 100%;
    width: 15%;  
}

.maapla{
    border-radius: 100%;
    width: 15%;
}

.jayaprakash{
    border-radius: 100%;
    width: 15%;
}

.daniel{
    border-radius: 100%;
    width: 15%;
}

.captain{
    border-radius: 100%;
    width: 15%;
}

#contactref{
    background-color: #1b262c;
    color: #ffff;
    font-family: sans-serif;
    text-align: center;
}